* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
}

@media (min-width: 601px) {
  .hide-desktop {
    display: none;
  }
}

.button-getStarted {
  min-width: 210px;
  min-height: 55px;
  color: white;
  background-color: #2acfcf;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  display: block;
  letter-spacing: 2px;
  border: none;
}

.Navbar {
  height: 60px;
}

.Navbar .Logo {
  width: 160px;
}

.Navbar .nav-flex-container {
  display: none;
}

.Hero {
  min-height: 750px;
}

@media (min-width: 601px) {
  .Hero {
    background-image: url(/images/illustration-working.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right 10px;
    min-height: 600px;
  }
}

.Hero .hero-img-container {
  margin: 0 auto;
}

.Hero img {
  display: block;
  height: auto;
  margin-left: 20px;
}

.Hero .side-crop {
  max-width: 540px;
  overflow: hidden;
  margin: 0 auto;
}

.Hero h1 {
  margin: 10px auto;
  line-height: 2.2rem;
  font-size: 2.5rem;
  text-align: center;
  max-width: 400px;
}

@media (min-width: 601px) {
  .Hero h1 {
    margin: 0;
    text-align: left;
    font-size: 3rem;
    line-height: 3rem;
  }
}

.Hero p {
  margin: 0 auto;
  color: #bfbfbf;
  margin-bottom: 15px;
  text-align: center;
  max-width: 400px;
  line-height: 1.4rem;
}

@media (min-width: 601px) {
  .Hero p {
    margin: 8px 0 18px 0;
    text-align: left;
    font-size: 1.1rem;
    max-width: 450px;
  }
}

.Hero .button-getStarted {
  margin: 0 auto;
}

@media (min-width: 601px) {
  .Hero .button-getStarted {
    margin: 0;
  }
}

@media (min-width: 601px) {
  .Hero .hero-content {
    margin: 100px auto;
    width: 85%;
  }
}

.Input {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  height: 120px;
  background-color: #3b3054;
  position: relative;
  top: 60px;
}

.Content {
  background-color: #f0f1f6;
  text-align: center;
  padding-top: 60px;
}

@media (min-width: 601px) {
  .Content {
    text-align: left;
  }
}

.Content .backgroundLine p {
  background: #2acfcf;
  height: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  z-index: 0;
}

.Content .backgroundLine :nth-child(1) {
  top: 500px;
}

.Content .backgroundLine :nth-child(2) {
  top: 800px;
}

.Content .div-advanced-statistics {
  width: 380px;
  max-width: 90vw;
  margin: 0 auto 90px;
}

.Content .content-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 601px) {
  .Content .content-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Content .content-flex-container:nth-child(1) {
  max-width: 350px;
  margin: 0 auto;
}

.Content .Card {
  width: 400px;
  max-width: 90%;
  height: 265px;
  margin: 0 auto 80px auto;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
}

.Content .Card .circle {
  height: 90px;
  width: 90px;
  background-color: #3b3054;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

.Content .Card img {
  position: relative;
  top: 20px;
}

@media (min-width: 601px) {
  .Content .Card img {
    left: 23px;
  }
}

.Content .Card .cardText {
  position: relative;
  bottom: 40px;
  margin-top: 15px;
}

.Content .Card .cardText h2 {
  margin: 0;
}

.Content .Card .cardText .contentText {
  color: #bfbfbf;
  line-height: 1.6rem;
  margin: 18px 0;
  padding: 0 30px;
}

.Content .content-boost {
  background-image: url(/images/bg-boost-mobile.svg);
  background-size: cover;
  background-color: #3b3054;
  color: white;
  height: 300px;
}

.Content .content-boost h3 {
  font-size: 1.5rem;
  margin-top: 100px;
}

.footer-features a {
  display: block;
}

.center-items-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logos {
  height: 100px;
}
/*# sourceMappingURL=style.css.map */