// ### Primary
$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);

// ### Secondary

$secondary-red: hsl(0, 87%, 67%);

// ### Neutral

$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish: hsl(257, 7%, 63%);
$neutral-blue: hsl(255, 11%, 22%);
$neutral-violet: hsl(260, 8%, 14%);

$breakpoint-mobile: 601px;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
}

.hide-desktop {
  @media (min-width: $breakpoint-mobile) {
    display: none;
  }
}

div {
  border: 2px solid $primary-cyan;
}

.button-getStarted {
  min-width: 220px;
  min-height: 55px;
  color: white;
  background-color: $primary-cyan;
  margin: 0 auto;
  font-size: 1.2rem;
  border-radius: 50px;
  display: block;
}

.Navbar {
  height: 60px;
  .Logo {
    width: 160px;
  }
  .nav-flex-container {
    display: none;
  }
}

.Hero {
  min-height: 300px;
  @media (min-width: $breakpoint-mobile) {
    background-image: url(/images/illustration-working.svg);
    background-size: cover;
  }
  .hero-img-container {
    margin: 0 auto;
  }

  img {
    display: block;
    height: auto;

    margin-left: 20px;
  }

  .side-crop {
    max-width: 540px;
    overflow: hidden;
    margin: 0 auto;
  }

  h1,
  p {
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
  }
  h1 {
    margin: 10px auto;
    line-height: 2.2rem;
    font-size: 2rem;
  }
  p {
    color: $neutral-gray;
    margin-bottom: 15px;
  }
}

.Input {
  width: 300px;
  margin: 0 auto;
  height: 120px;
}

.Content {
  text-align: center;
  @media (min-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.content-flex-container {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.content-flex-container:nth-child(1) {
  max-width: 350px;
  margin: 0 auto;
}

.Card {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.content-boost {
  background-image: url(/images/bg-boost-mobile.svg);
}

.footer-features {
  a {
    display: block;
  }
}

.center-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-items-row {
  display: flex;
  justify-content: center;
}

.footer-logos {
  height: 100px;
}
