// ### Primary
$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);

// ### Secondary
$secondary-red: hsl(0, 87%, 67%);

// ### Neutral
$gray: #f0f1f6;
$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish: hsl(257, 7%, 63%);
$neutral-blue: hsl(255, 11%, 22%);
$neutral-violet: hsl(260, 8%, 14%);

// ### Window breakpoints
$md: 600px;
$lg: 1050px;

// ### font-sizes
$text-xs: 0.694em;
$text-sm: 0.833em;
$text-md: 1.1em;
$text-lg: 1.44em;
$text-xl: 1.728em;
$text-xxl: 2.074em;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-size: 18px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

// borders for visualizing initial html skeleton
// div {
//   border: 2px solid $primary-cyan;
// }

// Utility classes
.hide-desktop {
  @media (min-width: $md) {
    display: none;
  }
}
.button-cta {
  min-width: 210px;
  min-height: 55px;
  color: white;
  background-color: $primary-cyan;
  margin: 0 auto;
  font-family: "Poppins";
  font-weight: 700;
  border-radius: 50px;
  display: block;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}
.backgroundLine {
  z-index: 0;
  p {
    background: $primary-cyan;
    height: 5px;
    transform: rotate(90deg);
    position: relative;
    z-index: -1;
  }
  :nth-child(1) {
    top: 500px;
  }
  :nth-child(2) {
    top: 800px;
  }
}
.circle {
  height: 90px;
  width: 90px;
  background-color: $primary-violet;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}
.center-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-items-row {
  display: flex;
  justify-content: center;
}

.Nav {
  height: 60px;
  width: 100%;
  &__desktopContainer {
    width: 100%;
  }

  &__logo {
    margin: 40px 0 0 23px;
    @media (min-width: $md) {
      margin: 54px 0 0 11.5%;
    }
  }

  &__icon {
    font-size: $text-lg;
    color: gray;
    position: absolute;
    right: 25px;
    top: 45px;
    @media (min-width: 750px) {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    background-color: $primary-violet;
    width: 90%;
    max-width: 380px;

    margin: 10px auto 0;
    border-radius: 5px;
    height: 390px;
    &Left {
      margin: 15px auto 10px;
      padding: 0 0 10px 0;

      border-bottom: 1px solid gray;
      width: 275px;
    }
    &Right {
      margin: 0;
      padding: 0;
      .button-cta {
        letter-spacing: 0;
      }
    }
    &Left,
    &Right {
      display: flex;
      flex-direction: column;
    }
    &Left li,
    &Right li {
      cursor: pointer;
      list-style-type: none;
      color: white;
      margin: 16px auto;
      font-size: $text-md;
      button {
        font-size: $text-md;
        width: 275px;
      }
    }
  }
  &__desktop {
    display: none;
    @media (min-width: 750px) {
      display: inline-flex;
      justify-content: space-between;
      width: 66vw;
    }
    ul {
      display: flex;
      list-style: none;
      position: relative;
      bottom: 11px;
    }
    &__buttonsLeft {
      margin: 0 0 0 0;
      padding-left: 3vw;
      li {
        margin-right: 16px;
      }
    }
    &__buttonsRight {
      margin: 0;
      padding: 0;
      :nth-child(2) {
        position: relative;
        bottom: 6px;
        left: 2.2vw;
      }
      button {
        font-size: $text-sm;
        min-width: 110px;
        min-height: 40px;
      }
    }
  }
}

.desktop-design {
  position: absolute;
  opacity: 20%;
  display: none;
  z-index: -1;
  @media (min-width: $md) {
    display: block;
  }
}
.mobile-design {
  position: absolute;
  opacity: 20%;
  z-index: -1;
  display: inline;
  @media (min-width: $md) {
    display: none;
  }
}

.Hero {
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    flex-direction: row;
    min-height: 715px;
  }
  .contentText {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    max-width: 425px;
  }
  .side-crop {
    max-width: 95vw;
    overflow: hidden;
    @media (min-width: 600px) {
      max-width: 100%;
    }
  }
  &__imageContainer {
    @media (min-width: 600px) {
      display: none;
    }
    @media (min-width: 1300px) {
      display: block;
      order: 2;
      margin: 105px 0 0 0;
    }
    img {
      display: block;
      height: auto;
      margin-left: 20px;
      width: 500px;
      margin-top: 50px;
      @media (min-width: $md) {
        display: block;
        width: 720px;
        margin: 2px 0 0 56px;
        padding: 0;
      }
    }
  }

  .Hero__content {
    margin-bottom: 150px;
    @media (min-width: $md) {
      margin: 173px 0px 112px 11vw;
    }
    &Header {
      margin: 40px auto 15px;
      line-height: 2.6rem;
      font-size: 2.3rem;
      text-align: center;
      max-width: 400px;
      @media (min-width: $md) {
        margin: 0;
        text-align: left;
        font-size: 4.2rem;
        line-height: 5rem;
        max-width: 700px;
      }
    }
    &Text {
      margin: 0 auto;
      color: $neutral-gray;
      margin-bottom: 25px;
      text-align: center;
      max-width: 335px;
      line-height: 1.7rem;
      @media (min-width: $md) {
        margin: 5px 0 18px 0;
        text-align: left;
        font-size: 1.2rem;
        max-width: 594px;
        line-height: 1.8rem;
        letter-spacing: 0.01rem;
      }
    }
    .button-cta {
      font-size: 1.1rem;
      min-width: 200px;
      @media (min-width: $md) {
        margin: 40px 0 0 0;
      }
    }
  }
}

.Content {
  // background-color: $gray;
  text-align: center;
  padding-top: 25px;
  @media (min-width: $md) {
    text-align: left;
  }
  &__inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    max-width: 90%;
    min-height: 170px;
    margin: 20px auto 0;
    height: 120px;
    border-radius: 8px;
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-color: $neutral-violet;
    position: relative;
    top: -120px;
    @media (min-width: $md) {
      width: 80%;
      background-image: url(/images/bg-shorten-desktop.svg);
      flex-direction: row;
    }
    * {
      width: 85%;
      border-radius: 5px;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
  &__input {
    height: 50px;
    padding: 0 0 0 13px;
    font-size: 1.2rem;
    @media (min-width: $md) {
      width: 50%;
    }
    @media (min-width: $lg) {
      width: 70%;
    }
  }
  &__input::placeholder {
    color: $neutral-gray;
  }
  &__inputButton {
    margin-top: 10px;
    font-size: 1.2rem;
    @media (min-width: $md) {
      width: 200px;
      margin: 0 0 0 15px;
    }
  }
  &__header {
    width: 380px;
    max-width: 90vw;
    margin: -115px auto 90px;
    * {
      margin-bottom: 5px;
    }
  }
  &__card {
    width: 400px;
    max-width: 90%;
    // height: 260px;
    margin: 0 auto 75px auto;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
    img {
      position: relative;
      top: 20px;
      @media (min-width: $md) {
        left: 23px;
      }
    }
    &Text {
      position: relative;
      bottom: 40px;
      margin-top: 15px;
      h2 {
        margin: 0;
      }

      .contentText {
        color: $neutral-gray;
        line-height: 1.4rem;
        margin: 13px 0;
        padding: 0 30px;
      }
    }
  }
  &__cta {
    background-image: url(/images/bg-boost-mobile.svg);
    background-size: cover;
    background-color: $primary-violet;
    color: white;
    height: 300px;
    h3 {
      font-size: 1.5rem;
      margin: 100px 0 20px 0;
    }
    &Button {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}

.footer-features {
  a {
    display: block;
  }
}

.footer-logos {
  height: 100px;
}
