// ### Primary
$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);

// ### Secondary

$secondary-red: hsl(0, 87%, 67%);

// ### Neutral

$gray: #f0f1f6;
$neutral-gray: hsl(0, 0%, 75%);
$neutral-grayish: hsl(257, 7%, 63%);
$neutral-blue: hsl(255, 11%, 22%);
$neutral-violet: hsl(260, 8%, 14%);

$breakpoint-mobile: 601px;
$breakpoint-tablet: 1051px;

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
}

.hide-desktop {
  @media (min-width: $breakpoint-mobile) {
    // display: none;
    float: right;
    position: relative;
    top: -177px;
    right: 350px;
    height: auto;
    width: 200px;
    margin: 0;
  }
}

// borders for visualizing initial html skeleton
// div {
//   border: 2px solid $primary-cyan;
// }

.button-getStarted {
  min-width: 210px;
  min-height: 55px;
  color: white;
  background-color: $primary-cyan;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  display: block;
  letter-spacing: 2px;
  border: none;
}

.Navbar {
  height: 60px;
  .Logo {
    width: 160px;
  }
  .nav-flex-container {
    display: none;
  }
}

.Hero {
  min-height: 00px;

  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    background-image: url(/images/illustration-working.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right 10px;
    min-height: 400px;
  }
  @media (min-width: $breakpoint-tablet) {
    background: none;
    min-height: 550px;
  }
  .contentText {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    max-width: 425px;
  }
  .hero-img-container {
    margin: 0 auto;
  }
  img {
    display: block;
    height: auto;
    margin-left: 20px;
    @media (min-width: 600px) and (max-width: $breakpoint-tablet) {
      // display: none;
    }
    @media (min-width: $breakpoint-tablet) {
      display: block;
      margin: 0;
    }
  }

  .side-crop {
    max-width: 540px;
    overflow: hidden;
    margin: 0 auto;
    @media (min-width: $breakpoint-mobile) {
      overflow: visible;
      margin: 130px 130px 0 0;
    }
  }

  h1 {
    margin: 10px auto;
    line-height: 2.2rem;
    font-size: 2.5rem;
    text-align: center;
    max-width: 400px;

    @media (min-width: $breakpoint-mobile) {
      margin: 0;
      text-align: left;
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  p {
    margin: 0 auto;
    color: $neutral-gray;
    margin-bottom: 15px;
    text-align: center;
    max-width: 400px;
    line-height: 1.4rem;

    @media (min-width: $breakpoint-mobile) {
      margin: 8px 0 18px 0;
      text-align: left;
      font-size: 1.1rem;
      max-width: 450px;
    }
  }
  .button-getStarted {
    margin: 0 auto;

    @media (min-width: $breakpoint-mobile) {
      margin: 0;
    }
  }

  .hero-content {
    @media (min-width: $breakpoint-mobile) {
      margin: 100px auto;
      width: 85%;
    }
  }
}

.Content {
  background-color: $gray;
  text-align: center;
  padding-top: 60px;
  @media (min-width: $breakpoint-mobile) {
    text-align: left;
  }
  .Input {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    height: 120px;
    background-color: $primary-violet;
    position: relative;
    top: -120px;
  }
  // .inputActiveState {
  //   height: 400px;
  //   background: red;
  // }
  .backgroundLine {
    p {
      background: $primary-cyan;
      height: 5px;
      transform: rotate(90deg);
      position: relative;
      z-index: 0;
    }
    :nth-child(1) {
      top: 500px;
    }
    :nth-child(2) {
      top: 800px;
    }
  }
  .div-advanced-statistics {
    width: 380px;
    max-width: 90vw;
    margin: 70px auto 90px;
  }
  .content-flex-container {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-mobile) {
      flex-direction: row;
    }
  }
  .content-flex-container:nth-child(1) {
    max-width: 350px;
    margin: 0 auto;
  }

  .Card {
    width: 400px;
    max-width: 90%;
    height: 265px;
    margin: 0 auto 80px auto;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    .circle {
      height: 90px;
      width: 90px;
      background-color: $primary-violet;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      bottom: 50px;
    }
    img {
      position: relative;
      top: 20px;
      @media (min-width: $breakpoint-mobile) {
        left: 23px;
      }
    }
    .cardText {
      position: relative;
      bottom: 40px;
      margin-top: 15px;
      h2 {
        margin: 0;
      }

      .contentText {
        color: $neutral-gray;
        line-height: 1.6rem;
        margin: 18px 0;
        padding: 0 30px;
      }
    }
  }
  .content-boost {
    background-image: url(/images/bg-boost-mobile.svg);
    background-size: cover;
    background-color: $primary-violet;
    color: white;
    height: 300px;
    h3 {
      font-size: 1.5rem;
      margin-top: 100px;
    }
  }
}

.footer-features {
  a {
    display: block;
  }
}

.center-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-items-row {
  display: flex;
  justify-content: center;
}

.footer-logos {
  height: 100px;
}
