* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-size: 18px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.input-error {
  border: 3px solid #f46262;
}

.input-error::-webkit-input-placeholder {
  color: #f46262 !important;
  opacity: 0.5;
}

.input-error:-ms-input-placeholder {
  color: #f46262 !important;
  opacity: 0.5;
}

.input-error::-ms-input-placeholder {
  color: #f46262 !important;
  opacity: 0.5;
}

.input-error::placeholder {
  color: #f46262 !important;
  opacity: 0.5;
}

.fill-white {
  fill: white;
}

@media (min-width: 600px) {
  .hide-desktop {
    display: none;
  }
}

.button-cta {
  min-width: 210px;
  min-height: 55px;
  color: white;
  background-color: #2acfcf;
  margin: 0 auto;
  font-family: "Poppins";
  font-weight: 700;
  border-radius: 50px;
  display: block;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.backgroundLine p {
  background: #2acfcf;
  height: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  z-index: 1;
}

.backgroundLine :nth-child(1) {
  top: 500px;
}

.backgroundLine :nth-child(2) {
  top: 800px;
}

.circle {
  height: 90px;
  width: 90px;
  background-color: #3b3054;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

@media (min-width: 1050px) {
  .circle {
    margin-left: 30px;
  }
}

.center-items-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nav {
  height: 60px;
  width: 100%;
}

.Nav__desktopContainer {
  width: 100%;
}

.Nav__logo {
  margin: 40px 0 0 23px;
}

@media (min-width: 600px) {
  .Nav__logo {
    margin: 54px 0 0 11.5%;
  }
}

.Nav__icon {
  font-size: 1.44em;
  color: gray;
  position: absolute;
  right: 25px;
  top: 45px;
}

@media (min-width: 750px) {
  .Nav__icon {
    display: none;
  }
}

.Nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b3054;
  width: 90%;
  max-width: 380px;
  margin: 10px auto 0;
  border-radius: 5px;
  height: 390px;
}

.Nav__buttonsLeft {
  margin: 15px auto 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid gray;
  width: 275px;
}

.Nav__buttonsRight {
  margin: 0;
  padding: 0;
}

.Nav__buttonsRight .button-cta {
  letter-spacing: 0;
}

.Nav__buttonsLeft, .Nav__buttonsRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Nav__buttonsLeft li,
.Nav__buttonsRight li {
  cursor: pointer;
  list-style-type: none;
  color: white;
  margin: 16px auto;
  font-size: 1.1em;
}

.Nav__buttonsLeft li button,
.Nav__buttonsRight li button {
  font-size: 1.1em;
  width: 275px;
}

.Nav__desktop {
  display: none;
}

@media (min-width: 750px) {
  .Nav__desktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66vw;
  }
}

.Nav__desktop ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  bottom: 11px;
}

.Nav__desktop__buttonsLeft {
  margin: 0 0 0 0;
  padding-left: 3vw;
}

.Nav__desktop__buttonsLeft li {
  margin-right: 16px;
}

.Nav__desktop__buttonsRight {
  margin: 0;
  padding: 0;
}

.Nav__desktop__buttonsRight :nth-child(2) {
  position: relative;
  bottom: 6px;
  left: 2.2vw;
}

.Nav__desktop__buttonsRight button {
  font-size: 0.833em;
  min-width: 110px;
  min-height: 40px;
}

.desktop-design {
  position: absolute;
  opacity: 20%;
  display: none;
  z-index: -1;
}

@media (min-width: 600px) {
  .desktop-design {
    display: block;
  }
}

.mobile-design {
  position: absolute;
  opacity: 20%;
  z-index: -1;
  display: inline;
}

@media (min-width: 600px) {
  .mobile-design {
    display: none;
  }
}

.Hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .Hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 715px;
  }
}

.Hero .contentText {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  max-width: 425px;
}

.Hero .side-crop {
  max-width: 95vw;
  overflow: hidden;
}

@media (min-width: 600px) {
  .Hero .side-crop {
    max-width: 100%;
  }
}

@media (min-width: 600px) {
  .Hero__imageContainer {
    display: none;
  }
}

@media (min-width: 1300px) {
  .Hero__imageContainer {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 105px 0 0 0;
  }
}

.Hero__imageContainer img {
  display: block;
  height: auto;
  margin-left: 20px;
  width: 500px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .Hero__imageContainer img {
    display: block;
    width: 720px;
    margin: 2px 0 0 56px;
    padding: 0;
  }
}

.Hero .Hero__content {
  margin-bottom: 150px;
}

@media (min-width: 600px) {
  .Hero .Hero__content {
    margin: 173px 0px 112px 11vw;
  }
}

.Hero .Hero__contentHeader {
  margin: 40px auto 15px;
  line-height: 2.6rem;
  font-size: 2.3rem;
  text-align: center;
  max-width: 400px;
}

@media (min-width: 600px) {
  .Hero .Hero__contentHeader {
    margin: 0;
    text-align: left;
    font-size: 4.2rem;
    line-height: 5rem;
    max-width: 700px;
  }
}

.Hero .Hero__contentText {
  margin: 0 auto;
  color: #bfbfbf;
  margin-bottom: 25px;
  text-align: center;
  max-width: 335px;
  line-height: 1.7rem;
}

@media (min-width: 600px) {
  .Hero .Hero__contentText {
    margin: 5px 0 18px 0;
    text-align: left;
    font-size: 1.2rem;
    max-width: 594px;
    line-height: 1.8rem;
    letter-spacing: 0.01rem;
  }
}

.Hero .Hero__content .button-cta {
  font-size: 1.1rem;
  min-width: 200px;
}

@media (min-width: 600px) {
  .Hero .Hero__content .button-cta {
    margin: 40px 0 0 0;
  }
}

.Content {
  background-color: #f0f1f6;
  text-align: center;
  padding-top: 25px;
}

@media (min-width: 1050px) {
  .Content {
    text-align: left;
  }
}

.Content__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  max-width: 90%;
  min-height: 170px;
  margin: 20px auto 0;
  border-radius: 8px;
  padding: 30px 0;
  background-image: url(/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-color: #232127;
  position: relative;
  top: -120px;
}

@media (min-width: 600px) {
  .Content__inputContainer {
    width: 80%;
    background-image: url(/images/bg-shorten-desktop.svg);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Content__inputContainer * {
  width: 85%;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 0;
}

.Content__inputSubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Content__input {
  width: 100%;
  height: 50px;
  padding: 0 0 0 13px;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .Content__input {
    width: 80%;
    margin-left: 50px;
  }
}

.Content__input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.Content__input:-ms-input-placeholder {
  color: #bfbfbf;
}

.Content__input::-ms-input-placeholder {
  color: #bfbfbf;
}

.Content__input::placeholder {
  color: #bfbfbf;
}

.Content__invalidInput {
  color: #f46262;
  opacity: 0.5;
  margin: 7px 0 10px 0;
  text-align: left;
}

@media (min-width: 600px) {
  .Content__invalidInput {
    position: absolute;
    top: 105px;
    left: 50px;
  }
}

.Content__inputButton {
  margin-top: 10px;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .Content__inputButton {
    width: 200px;
    margin: 0 50px 0 15px;
  }
}

.Content__linkContainer {
  position: relative;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .Content__linkContainer {
    width: 89%;
    margin: 0 auto;
  }
}

.Content__linkContainer .Link:not(:first-child) {
  margin-top: 20px;
}

.Content__header {
  width: 380px;
  max-width: 90vw;
  margin: -55px auto 90px;
}

@media (min-width: 600px) {
  .Content__header {
    width: 545px;
  }
}

@media (min-width: 600px) {
  .Content__header h2 {
    font-size: 2.074em;
  }
}

.Content__header * {
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .Content__header .contentText {
    margin-top: 10px;
    text-align: center;
    color: #bfbfbf;
  }
}

@media (min-width: 1050px) {
  .Content__cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 30px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1050px) {
  .Content__cardsContainer div.Content__card:nth-child(1) {
    position: relative;
    top: -50px;
  }
}

@media (min-width: 1050px) {
  .Content__cardsContainer div.Content__card:nth-child(3) {
    position: relative;
    top: 50px;
  }
}

.Content__card {
  width: 400px;
  max-width: 90%;
  margin: 0 auto 75px auto;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 1050px) {
  .Content__card {
    margin: 0 15px 125px 15px;
  }
}

.Content__card * {
  z-index: 5;
}

.Content__card img {
  position: relative;
  top: 20px;
}

@media (min-width: 1050px) {
  .Content__card img {
    left: 23px;
  }
}

.Content__cardText {
  position: relative;
  bottom: 40px;
  margin-top: 15px;
}

.Content__cardText h2 {
  margin: 0 auto;
}

@media (min-width: 1050px) {
  .Content__cardText h2 {
    margin-left: 30px;
  }
}

.Content__cardText .contentText {
  color: #bfbfbf;
  line-height: 1.4rem;
  margin: 13px 0;
  padding: 0 30px;
}

.Content__cta {
  background-image: url(/images/bg-boost-mobile.svg);
  background-size: cover;
  background-color: #3b3054;
  color: white;
  height: 300px;
}

.Content__cta h3 {
  font-size: 1.5rem;
  margin: 100px 0 20px 0;
}

.Content__ctaButton {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

.Link {
  background: white;
  color: black;
  width: 90%;
  border-radius: 8px;
}

@media (min-width: 1050px) {
  .Link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Link__originalLink {
  border-bottom: 1px solid #9e9aa7;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 20px 10px;
}

@media (min-width: 1050px) {
  .Link__originalLink {
    max-width: 500px;
    height: 1.5rem;
    border-bottom: none;
    padding-bottom: 0;
    margin: 0 0 0 20px;
  }
}

.Link__shortLink {
  color: #2acfcf;
}

@media (min-width: 1050px) {
  .Link__shortLink {
    margin-right: 20px;
  }
}

.Link__shortLinkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1050px) {
  .Link__shortLinkContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Link__copyButton {
  width: 85%;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media (min-width: 1050px) {
  .Link__copyButton {
    width: 115px;
    margin: 10px 20px 10px 0;
    min-width: 100px !important;
    font-size: 18px;
    min-height: 45px !important;
  }
}

.Footer {
  background: #232127;
  color: white;
  height: 790px;
}

@media (min-width: 1050px) {
  .Footer {
    height: 320px;
  }
}

.Footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1050px) {
  .Footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Footer__container-links {
  margin-top: 20px;
}

@media (min-width: 1050px) {
  .Footer__container-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 57px 0 0 13vw;
  }
  .Footer__container-links div:nth-child(-n + 3) {
    margin-right: 66px;
  }
}

.Footer__container-links div:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1050px) {
  .Footer__container-links div:not(:last-child) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.Footer__container-links h3 {
  margin-bottom: 15px;
}

.Footer__container-links p {
  margin: 4px;
  cursor: pointer;
}

.Footer__logo {
  margin-top: 60px;
}

@media (min-width: 1050px) {
  .Footer__logo {
    margin: -65px 0 0 11.2vw;
  }
}

.Footer__logo-img {
  fill: white;
}

.Footer__social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer__social span {
  margin: 0 12px;
}

.Footer__social img {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */